html,body{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    background: #333333;
}
.container {
    width: 750px;
    text-align: right;
}
.box {
    cursor: pointer;
    height: auto;
    margin: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.box img {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    width: 100%;
}
/* Caption Common Style */
 .box .caption {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
/** Caption 3: Fade **/
 .box .fade-caption, .box .scale-caption {
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 15px;
}
/** Caption 6: Scale **/
 .box .scale-caption h3, .box .scale-caption p {
    position: relative;
    left: -200px;
    width: 90%;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.box .scale-caption h3 span{
    font-weight: normal;
}
.box .scale-caption h3 {
    -webkit-transition-delay: 0ms -moz-transition-delay: 0ms -o-transition-delay: 0ms -ms-transition-delay: 0ms transition-delay: 0ms
}
.box .scale-caption p {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    transition-delay: 300ms;
}
/** Fade Caption :hover Behaviour **/
 .box:hover .fade-caption, .box:hover .scale-caption {
    opacity: 1;
}
/** Scale Caption :hover Behaviour **/
 .box:hover .box-image {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
.box:hover .scale-caption h3, .box:hover .scale-caption p {
    -moz-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
}
#menulabel{
    display: none;
}
.header{
    height: 150px;
    width: 100%;
    background: #333333;
    background-size: cover;
    text-align:center;
    padding-top: 50px;

}
.logo{
    width: 300px;
}
.post{
    text-align: left;
    overflow: hidden;
    color: #fff;
}
.post img{
    max-width: 100%;
}
::-webkit-scrollbar-thumb:hover{-webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);}::-webkit-scrollbar-thumb:active{background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}::-webkit-scrollbar{width:10px}::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3)}::-webkit-scrollbar-thumb{background:#bdbdbd}::-webkit-scrollbar-thumb:window-inactive{background:#bdbdbd}::-moz-selection{background:rgba(0,0,0,0.1)}::selection{background:rgba(0,0,0,0.1)}